# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ACAR/.vs/ACAR/v17/Preview/Browse.VC.db
ACAR/.vs/ACAR/v17/Preview/Browse.VC.db-shm
ACAR/.vs/ACAR/v17/Preview/Browse.VC.db-wal
ACAR/.vs/ACAR/v17/Preview/Browse.VC.opendb
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/638c1bd2f2def407/ACAR.ipch
ACAR/.vs/ACAR/v17/.suo
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/30740aeb7d0212ab/GLOBALS.ipch
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/38790b662e07b926/PROCESSES.ipch
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/751b6866505fafd3/PROCESSES.ipch
ACAR/ACAR/x64/Debug/ACAR.exe.recipe
ACAR/ACAR/x64/Debug/ACAR.ilk
ACAR/ACAR/x64/Debug/ACAR.log
ACAR/ACAR/x64/Debug/ACAR.tlog/ACAR.lastbuildstate
ACAR/ACAR/x64/Debug/ACAR.tlog/CL.command.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/CL.read.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/CL.write.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/link.command.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/link.read.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/link.write.1.tlog
ACAR/ACAR/x64/Debug/vc143.idb
ACAR/ACAR/x64/Debug/vc143.pdb
ACAR/x64/Debug/ACAR.pdb
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/183418413f7b773d/ACAR.ipch
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/35488da9ef065296/MEMORY.ipch
ACAR/.vs/ACAR/v17/Browse.VC.db
ACAR/.vs/ACAR/v17/Browse.VC.db-shm
ACAR/.vs/ACAR/v17/Browse.VC.db-wal
ACAR/.vs/ACAR/v17/Browse.VC.opendb
ACAR/.vs/ACAR/v17/ipch/AutoPCH/c3c85b490753629/ACAR.ipch
ACAR/.vs/ACAR/v17/ipch/AutoPCH/e8bd46530d5ee424/FILEHANDLING.ipch
ACAR/x64/Debug/ACAR_protected.exe.til
ACAR/x64/Debug/ACAR_protected.exe.nam
ACAR/x64/Debug/ACAR_protected.exe.id2
ACAR/x64/Debug/ACAR_protected.exe.id1
ACAR/x64/Debug/ACAR_protected.exe.id0
ACAR/x64/Debug/ACAR.exe.til
ACAR/x64/Debug/ACAR.exe.nam
ACAR/x64/Debug/ACAR.exe.id2
ACAR/x64/Debug/ACAR.exe.id1
ACAR/x64/Debug/ACAR.exe.id0
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/7756d102fe07c951/OUTPUTDEBUGSTRING_DETECTOR.ipch
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/63aa6630145bdd9e/SCREENSHOTS.ipch
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/b37cb8b6299dc143/GAME_WINDOW_DETECTOR.ipch
ACAR/x64/Debug/ACAR.exe.i64
ACAR/ACAR/x64/Debug/ACAR.Build.CppClean.log
ACAR/ACAR/x64/Debug/ACAR.Build.CppClean.log
ACAR/ACAR/x64/Debug/ACAR.Build.CppClean.log
ACAR/ACAR/x64/Debug/ACAR.tlog/ACAR.write.1u.tlog
ACAR/ACAR/x64/Debug/ACAR.Build.CppClean.log
ACAR/ACAR/x64/Debug/ACAR.vcxproj.FileListAbsolute.txt
ACAR/ACAR/x64/Debug/vcpkg.applocal.log
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/94f932ad0d7d5652/TESSERACT_OCR.ipch
ACAR/ACAR/ACAR.vcxproj
ACAR/ACAR/ACAR.vcxproj
ACAR/ACAR/tesseract/tessdata/configs
ACAR/ACAR/tesseract/tessdata/deu.traineddata
ACAR/ACAR/tesseract/tessdata/deu_frak.traineddata
ACAR/ACAR/tesseract/tessdata/eng.traineddata
ACAR/ACAR/tesseract/tessdata/LICENSE
ACAR/ACAR/tesseract/tessdata/pdf.ttf
ACAR/ACAR/tesseract/tessdata/README.md
ACAR/ACAR/tesseract/tesseract_includes/leptonica/allheaders.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/alltypes.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/array.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/arrayaccess.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bbuffer.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bilateral.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bmf.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bmfdata.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bmp.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/ccbord.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/colorfill.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/dewarp.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/endianness.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/environ.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/gplot.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/hashmap.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/heap.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/imageio.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/jbclass.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/leptwin.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/list.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/morph.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/pix.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/ptra.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/queue.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/rbtree.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/readbarcode.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/recog.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/regutils.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/stack.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/stringcode.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/sudoku.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/watershed.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/apitypes.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/baseapi.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/capi.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/genericvector.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/helpers.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/ltrresultiterator.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/ocrclass.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/osdetect.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/pageiterator.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/platform.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/publictypes.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/renderer.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/resultiterator.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/serialis.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/strngs.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/tess_version.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/tesscallback.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/thresholder.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/unichar.h
ACAR/ACAR/x64/Debug/ACAR.Build.CppClean.log
ACAR/ACAR/tesseract/tessdata/configs
ACAR/ACAR/tesseract/tessdata/deu.traineddata
ACAR/ACAR/tesseract/tessdata/deu_frak.traineddata
ACAR/ACAR/tesseract/tessdata/eng.traineddata
ACAR/ACAR/tesseract/tessdata/LICENSE
ACAR/ACAR/tesseract/tessdata/pdf.ttf
ACAR/ACAR/tesseract/tessdata/README.md
ACAR/ACAR/tesseract/tesseract_includes/leptonica/allheaders.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/alltypes.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/array.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/arrayaccess.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bbuffer.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bilateral.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bmf.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bmfdata.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/bmp.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/ccbord.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/colorfill.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/dewarp.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/endianness.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/environ.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/gplot.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/hashmap.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/heap.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/imageio.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/jbclass.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/leptwin.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/list.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/morph.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/pix.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/ptra.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/queue.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/rbtree.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/readbarcode.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/recog.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/regutils.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/stack.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/stringcode.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/sudoku.h
ACAR/ACAR/tesseract/tesseract_includes/leptonica/watershed.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/apitypes.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/baseapi.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/capi.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/genericvector.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/helpers.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/ltrresultiterator.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/ocrclass.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/osdetect.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/pageiterator.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/platform.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/publictypes.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/renderer.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/resultiterator.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/serialis.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/strngs.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/tess_version.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/tesscallback.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/thresholder.h
ACAR/ACAR/tesseract/tesseract_includes/tesseract/unichar.h
ACAR/ACAR/x64/Debug/ACAR.Build.CppClean.log
