# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ACAR/.vs/ACAR/v17/Preview/Browse.VC.db
ACAR/.vs/ACAR/v17/Preview/Browse.VC.db-shm
ACAR/.vs/ACAR/v17/Preview/Browse.VC.db-wal
ACAR/.vs/ACAR/v17/Preview/Browse.VC.opendb
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/638c1bd2f2def407/ACAR.ipch
ACAR/.vs/ACAR/v17/.suo
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/30740aeb7d0212ab/GLOBALS.ipch
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/38790b662e07b926/PROCESSES.ipch
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/751b6866505fafd3/PROCESSES.ipch
ACAR/ACAR/x64/Debug/ACAR.exe.recipe
ACAR/ACAR/x64/Debug/ACAR.ilk
ACAR/ACAR/x64/Debug/ACAR.log
ACAR/ACAR/x64/Debug/ACAR.tlog/ACAR.lastbuildstate
ACAR/ACAR/x64/Debug/ACAR.tlog/CL.command.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/CL.read.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/CL.write.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/link.command.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/link.read.1.tlog
ACAR/ACAR/x64/Debug/ACAR.tlog/link.write.1.tlog
ACAR/ACAR/x64/Debug/vc143.idb
ACAR/ACAR/x64/Debug/vc143.pdb
ACAR/x64/Debug/ACAR.pdb
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/183418413f7b773d/ACAR.ipch
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/35488da9ef065296/MEMORY.ipch
ACAR/.vs/ACAR/v17/Browse.VC.db
ACAR/.vs/ACAR/v17/Browse.VC.db-shm
ACAR/.vs/ACAR/v17/Browse.VC.db-wal
ACAR/.vs/ACAR/v17/Browse.VC.opendb
ACAR/.vs/ACAR/v17/ipch/AutoPCH/c3c85b490753629/ACAR.ipch
ACAR/.vs/ACAR/v17/ipch/AutoPCH/e8bd46530d5ee424/FILEHANDLING.ipch
ACAR/x64/Debug/ACAR_protected.exe.til
ACAR/x64/Debug/ACAR_protected.exe.nam
ACAR/x64/Debug/ACAR_protected.exe.id2
ACAR/x64/Debug/ACAR_protected.exe.id1
ACAR/x64/Debug/ACAR_protected.exe.id0
ACAR/x64/Debug/ACAR.exe.til
ACAR/x64/Debug/ACAR.exe.nam
ACAR/x64/Debug/ACAR.exe.id2
ACAR/x64/Debug/ACAR.exe.id1
ACAR/x64/Debug/ACAR.exe.id0
ACAR/.vs/ACAR/v17/Preview/ipch/AutoPCH/7756d102fe07c951/OUTPUTDEBUGSTRING_DETECTOR.ipch
